div.window {
    display: flex;
}

div.bordered {
    border-style: solid;
    border-color: black;
    border-width: thin;
}

div.graph-block {
    width: 65%;
    height: 48em;
}

div.table-block {
    width: 35%;
    height: 48em;
    overflow-y: scroll;
}

div.table-block th,td {
    border: 1px solid rgba(224, 224, 224, 1);
}

div.line-graph {
    width: 100%;
    height: 80%;
}

div.button-block {
    width: 100%;
    height: 20%;
}

div.sidebar-block {
    width: 15em;
    height: 100%;
    background-color: white;
}

div.ui-container.sidebar-button-div {
    display: flex;
}

div.ui-container.sidebar-button-div * {
    margin: auto;
}